button{
    background-color: rgb(31, 77, 228);
    height: 50px;
    width: 80px;
    border-radius: 10px;

    .linkB{
        color: white;
        text-decoration: none;
    }
}

.link{
    color: red;
    text-decoration: none;
}